<div class="container-fluid">

    <!-- 404 Error Text -->
    <div>
        <div class="error mx-auto text-center" data-text="404"><%= error.status %></div>
        <pre><%= error.stack %></pre>
        <a href="/">&larr; Back to Dashboard</a>
    </div>

</div>